@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700');
/*------------------------navigation*/
nav{
    margin: 10px auto 10px auto;
    text-align: left;
}
li{
    display: inline;
    
}
a {
     font-family: 'Caveat', cursive;
     color: black;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
}
a:hover{
    color:orange;
    text-decoration: none;
    font-size: 20px;
    
}
a.current{
    text-decoration-line:underline; 
}

/*--------------------index.html*/
 .heading{
     background: url(../images/kitchen3.jpg) no-repeat center center ;
     background-size: cover;
     width: 940px;
     height: 540px;
 }

 .heading h1{
    font-family: 'Caveat', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 45px;
    color: black;
    text-align: center;
    
}
.heading h2{
    font-family: 'Caveat', cursive;
    font-weight: 500;
    margin: 10px auto 25px auto;
    padding: 2px;
    font-size: 40px;
    color: black;
    text-align: center;
}
.heading-column{
    margin:10px auto 10px auto;
}
.heading-column h1{
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: black;
    text-align: center;
}
.heading-column p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.product img{
    width: 350px;
    height: 250px;
}  
.guest p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.chef-image img{
    width: 360px;
    height: 360px; 
}  
.chef-image p{
    text-align: center;
}
.quote{
    margin: 30px auto 30px auto;
}
.quote h1{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
}
.bio{
    margin: 50px auto 50px auto;
}
.bio h1,h3 {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: black;
    text-align: center;
}

.bio p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.bg-service{
     background: url(../images/glasses.jpg) no-repeat center center ;
     background-size: cover;
     width: 720px;
     height: 540px;
 }

/*----------------------contaniners*/
.container-fluid{ 
    margin: 10px auto 10px auto;    
}
.container{
    margin: 50px auto 20px auto;

}

/*--------form*/
.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: orange;
}

/*---------------footer*/
.bg-footer{
    margin: 20px auto;
}
.footer-details p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: right;
}
.footer-social a{
    color: black;   
}
.footer-social a:hover{
    color:orange;
    text-decoration: none;
    font-size: 20px;
    
}

/*--------contact.html*/
.heading-contact{
     background: url(../images/kitchen2.jpg) no-repeat center center ;
     background-size: cover;
     width: 720px;
     height: 540px;

 }
 .conditions-details h1{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: black;
    text-align: left;
 }
 .conditions-details {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: black;
    text-align: left;
 }
 /*-------menu*/
.bg-menu1{
     background: url(../images/table-set.jpg) no-repeat center center ;
     background-size: cover;
     width: 720px;
     height: 540px;
 }
 .bg-menu2{
     background: url(../images/canape.jpg) no-repeat center center ;
     background-size: cover;
     width: 720px;
     height: 540px;
 }
 .bg-menu3{
     background: url(../images/cocktails.jpg) no-repeat center center ;
     background-size: cover;
     width: 720px;
     height: 540px;
 }
 .menu h1{
    font-family: 'Caveat', cursive;
    font-size: 55px;
    color: black;
    text-align: left;
}
.menu p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: left;
}
.menu-details h3,h5{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: black;
    text-align: left;
}
.menu-details h2{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    color: black;
    text-align: left;
}

.menu-details p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: black;
    text-align: left;
}