@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:100,200,300,400,500,600,700');

/*------------------------navigation*/

nav{
    margin: 10px auto 10px auto;
    text-align: left;
}
li{
    display: inline;
    
}
a {
     font-family: 'Permanent Marker', cursive;
     color: black;
    font-weight: 700;
    font-size: 20px;
    padding: 5px;
}
a:hover{
    color:rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 50px;
}
a.current{
    text-decoration-line:underline; 
}

/*--------------------headings*/


 .heading h1{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 200px auto 25px auto;
    padding: 2px;
    font-size: 45px;
    color: black;
    text-align: center;
    
}
.heading h2{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 10px auto 25px auto;
    padding: 2px;
    font-size: 40px;
    color: black;
    text-align: center;
}
 .heading-column h1{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 45px;
    color: black;
    text-align: center;
 } 
 .heading-column p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 25px;
    color: black;
    text-align: center;
 }  

    
.heading-column {
    margin: 10px auto 10px auto;
    text-align: center; 
}

/*----------------------contaniners*/
body{
    background-color: blanchedalmond;
}
.container-fluid{ 
    margin: 10px auto 10px auto;
    background: url(../images/kitchen3.jpg) no-repeat center center ;
    
}
.container{
    max-width: auto;
    min-height: 360px;
    background-color:transparent;
    margin: 5px auto 20px auto;

}
.biography{
    max-width: 1200px;
    min-height: 360px;
    background-color:rgba(0, 0, 0, 0.8);
    margin: 5px auto 20px auto;
}
.biography p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 25px;
    color: black;
    text-align: right;
 }  
img.rounded-circle{
    margin-left:0px;
}
/*----------three-menu*/
.heading-menu{
 text-align: center;
border: 4px dotted black;
}
.heading-menu p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 10px auto 30px auto;
    padding: 2px;
    font-size: 45px;
    color: black;

}
.three-menu{
    margin: 0px auto;
}
.dish-menu{
    margin-top: 15px;
}
img{
    margin-bottom: 15px;
    border-radius: 35% 35%;
    border: 2px solid black;
}
figcaption{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 20px;
    color: black;
}
.contact-heading{
    margin-top: 10px;
}
h5 {
     font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin-left: 25px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fffff0;
    border: 3px solid #fffff0;

    }
/*--------form*/
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
.bg-button{
    background-color:blanchedalmond;
    border: 4px double black;
}
.btn p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 15px;
    color:black;
    text-align: center;
}
.btn:hover{
    background-color: black;
    
}
.btn p:hover{
    color:white;
}
img.align-center{
    display: block;
    margin: 50px auto;   
}
.form-control{
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fffff0;
}
/*---------------footer*/
#footer-details{
    background-color:black;
    max-width: 940px;
    margin: 0px auto 0px auto;
    padding: 5px 0px 5px 0px;
}
#footer-details p{
    color: #fffff0;
    font-size: 20px;
    text-align: center;
    
}
/*--------media*/
@media screen {
    (max-width: 768px);
}
