@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:100,200,300,400');


/*------------------------navbar*/
.navbar-brand {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 200;
    font-size: 25px;
}
.navbar-nav a{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 20px;
}


/*--------------------index.html*/
.heading-page{
    margin-left: 50px;
}
.heading-page p {
    color: black;
    font-size: 50px;
    margin-bottom: 200px;
}

 h1{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    margin-top: 100px;
    margin-left: 150px;
    padding: 15px;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffff0;
    border: 3px solid #fffff0;
    text-align: center;
    
}
h2{
   font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    margin: 100px 90px 100px 75px;
    padding: 15px;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffff0;
    border: 3px solid #fffff0;
    text-align: center;
}
 h4{
     font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    color:#fffff0;
 }
 p {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
    color:#fffff0;
    
}
    
.heading-column {
    margin-top: 15px;
    margin-bottom:15px; 
    text-align: center; 
}

/*----------------------contact.html*/

.container-fluid{
    background: url(../images/kitchen2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
/*----------three-menu*/
.container{
    background-color:#343a40;
    margin-top: 15px;
    margin-left: 50px;
}
.three-menu{
    margin: 0px auto;
}
.dish-menu{
    margin-top: 15px;
}
img{
    margin-bottom: 15px;
}
figcaption{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 25px;
    text-align: left;
    color:#fffff0;
    margin-bottom: 15px;
    
}
.button{
  text-align: center;
  margin-bottom: 15px;
}
.contact-heading{
    margin-top: 10px;
}
h3,h5 {
     font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin-left: 25px;
    font-size: 50px;
    color:red;

}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color:rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    
}
img.align-center{
    display: block;
    margin: 50px auto;   
}
.form-control{
    background: rgba(247, 247, 247, 0.575);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
/*---------------footer*/
#footer-details{
    background-color:#343a40;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}
#footer-details p{
    color: #fffff0;
    font-size: 20px;
    text-align: center;
    
}
/*--------media*/
@media screen {
    (max-width: 768px);
}
