@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Caveat:100,200,300,400,500,600,700');
/*------------------------navigation*/

nav{
    margin: 10px auto 10px auto;
    text-align: left;
}
li{
    display: inline;
    
}
a {
     font-family: 'Caveat', cursive;
     color: black;
    font-weight: 700;
    font-size: 30px;
    padding: 5px;
}
a:hover{
    color:orange;
    text-decoration: none;
    font-size: 20px;
    
}
a.current{
    text-decoration-line:underline; 
}

/*--------------------headings*/
 .heading{
     background: url(../images/kitchen3.jpg) no-repeat center center ;
     width: 940px;
     height: 540px;
 }

 .heading h1{
    font-family: 'Caveat', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 45px;
    color: black;
    text-align: center;
    
}
.heading h2{
    font-family: 'Caveat', cursive;
    font-weight: 500;
    margin: 10px auto 25px auto;
    padding: 2px;
    font-size: 40px;
    color: black;
    text-align: center;
}
.heading-column{
    margin:10px auto 10px auto;
}
.heading-column h1{
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: black;
    text-align: center;
}
.heading-column p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.product img{
    width: 350px;
    height: 250px;
}  
.guest p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.chef-image img{
    width: 360px;
    height: 360px; 
}  
.chef-image p{
    text-align: center;
}
.menu h1{
    font-family: 'Caveat', cursive;
    font-size: 55px;
    color: black;
    text-align: left;
}
.menu p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: left;
}
.menu-details h3{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: black;
    text-align: left;
}
.menu-details p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: black;
    text-align: left;
}
.quote{
    margin: 30px auto 30px auto;
}
.quote h1{
    font-family: 'Caveat', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
}

/*----------------------contaniners*/
.container-fluid{ 
    margin: 10px auto 10px auto;    
}
.container{
    margin: 50px auto 20px auto;

}
.bio h1,h3 {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: black;
    text-align: center;
}
.bio p {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: center;
}
.bg-service{
     background: url(../images/glasses.jpg) no-repeat center center ;
     width: 720px;
     height: 540px;
 }
img.rounded-circle{
    margin-left:0px;
}
/*----------three-menu*/
.heading-menu{
 text-align: center;
border: 4px dotted black;
}
.heading-menu p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 10px auto 30px auto;
    padding: 2px;
    font-size: 45px;
    color: black;

}
.three-menu{
    margin: 0px auto;
}
.dish-menu{
    margin-top: 15px;
}
figcaption{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    margin: 20px auto 25px auto;
    padding: 2px;
    font-size: 20px;
    color: black;
}
.contact-heading{
    margin-top: 10px;
}
h5 {
     font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin-left: 25px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fffff0;
    border: 3px solid #fffff0;

    }
/*--------form*/
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
.bg-button{
    background-color:blanchedalmond;
    border: 4px double black;
}
.btn p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 15px;
    color:black;
    text-align: center;
}
.btn:hover{
    background-color: black;
    
}
.btn p:hover{
    color:white;
}
img.align-center{
    display: block;
    margin: 50px auto;   
}
.form-control{
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fffff0;
}
/*---------------footer*/
.bg-footer{
    margin: 20px auto;
}
.footer-details p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: black;
    text-align: right;
}
.footer-social a{
    color: black;   
}
.footer-social a:hover{
    color:orange;
    text-decoration: none;
    font-size: 20px;
    
}

/*--------media*/
@media screen {
    (max-width: 768px);
}
