@import url('https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Sen:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script:100,200,300,400');


/*------------------------navbar*/
.navbar-brand {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 200;
    font-size: 25px;
}
.navbar-nav a{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    font-size: 20px;
}
.navbar-toggler [type=button] {
-webkit-overflow-scrolling: dkdkp;
}

/*--------------------section*/

section{
    background-image: url(../images/kitchen2.jpg);
    background-repeat: scroll;
    background-size: cover;
}
.heading h1{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    margin: 100px 90px 100px 75px;
    padding: 15px;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffff0;
    border: 3px solid #fffff0;
    
}
.reason-heading {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 50px;
    color: #fffff0;
    
}
.heading a i{
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 100;
    margin: 100px 90px 100px 75px;
    padding: 15px;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffff0;
    border: 3px solid #fffff0;
}
p {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin-left: 25px;
    font-size: 50px;
    color: #F5F5DC;
    
}
h4 {
    font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin-left: 25px;
    font-size: 50px;
    color: #F5F5DC;
    
}
.heading-column{
    margin-bottom:15px;  
}

/*----------------Dishes*/
.container{
    margin-left: 100px;
}
.image-dish{
    background: url(../images/dish1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish2{
    background: url(../images/dessert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish3{
    background: url(../images/dish3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish4{
    background: url(../images/dish4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish5{
    background: url(../images/dish5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish6{
    background: url(../images/dish6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish7{
    background: url(../images/dish7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish8{
    background: url(../images/dish8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish9{
    background: url(../images/dish9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish10{
    background: url(../images/dish10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.image-dish11{
    background: url(../images/dish11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    max-width: 450px;
    margin-top: 100px;
}
.description-dish{
    padding:15px;
    margin-top: 100px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.5);
}
/*----------------------contact.html*/
.rounded-circle{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    margin-left: 500px;
    border:10px solid rgba(0, 0, 0, 0.5);
}
.container-fluid{
    background: url(../images/kitchen2.jpg);
    background-size: cover;
    background-position: 50% 50%;

}
.contact-heading{
    margin-top: 10px;
}
h3,h5 {
     font-family: 'Dancing Script', cursive;
     font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin-left: 25px;
    font-size: 50px;
    color:red;

}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color:rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    
}
img.align-center{
    display: block;
    margin: 50px auto;   
}
.form-control{
    background: rgba(247, 247, 247, 0.575);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#footer-details{
    background-color:#343a40;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}
#footer-details p{
    color: #fffff0;
    font-size: 20px;
    text-align: center;
    
}